header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.image {
    width: 500px;
}